[build]
builder = "NIXPACKS"

[deploy]
startCommand = "uwsgi --http-socket :$PORT --module wsgi:app --master --processes 4 --threads 2"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
